.topics {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;

  .topic,
  button {
    border: none;
    cursor: pointer;
  }

  .topic {
    background: #7c98a4;
    padding: 8px 21px;
    border-radius: 5px;
    color: white;
    margin: 0 20px;
  }
  @media (max-width: 767px) {
    .topic {
      margin: 5px 10px;
      padding: 5px 10px;
    }
  }
}
