.topics {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;

  .topic,
  button {
    border: none;
    cursor: pointer;
  }

  .topic:hover {
    background: #479ade;
  }

  .topic {
    background: #2196f3;
    padding: 0px 6px;
    border-radius: 5px;
  }

  button {
    background: none;
    color: white;
  }
}

.all {
  padding: 0 5px;
  background: #2196f3;
}
