section {
  position: relative;

  .error {
    color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .error {
    font-size: 18px;
  }
}
